@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Mono:300,400");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,700|Nunito+Sans+Mono:300,400");

/* Init the page background color */
html, body {
  background-color: white;
}

.content {
	/* TODO : il faudrait pas mettre directement ce tag dans la partie "html, body" pour que tout le texte soit concerné ???  */
	-webkit-font-smoothing: antialiased
}

/*
.content .highlight {
	border-radius: 2px;
	margin-bottom: 20px
}*/


.content code {
	background: #f5f5f5;
	padding: 3px 6px;
	border-radius: 3px;
	font-family: roboto mono, monospace;
	font-size: .9rem;
	line-height: 1.4
}

.content pre {
	font-family: roboto mono, monospace;
	font-size: .9rem;
	line-height: 1.4;
	/*margin: 0;*/
	/*padding: 10px;*/
	/*border-radius: 1px*/
}

.content pre code {
	font-family: roboto mono, monospace;
	font-size: .9rem;
	line-height: 1.4;
	/*border-radius: none;*/
	/*border-radius: 5px;*/
	padding: 10px;
	margin: 0;
	/*background: #f5f5f5;*/
	word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.content strong {
	font-weight: 700
}

.content em {
	font-style: italic;
	font-weight: 400
}

.content ol {
	margin-top: 10px;
	margin-bottom: 20px;
	list-style-type: decimal
}

.content ol li {
	margin-bottom: 5px;
	margin-left: 20px
}

.content ul {
	margin-top: 10px;
	margin-bottom: 20px;
	list-style-type: disc
}

.content ul li {
	margin-bottom: 5px;
	margin-left: 20px
}

.content a {
	text-decoration: underline
}

.content p {
	font-family: roboto, Arial, sans-serif, -apple-system;
	font-size: 1rem;
	line-height: 1.4;
	color: #383f45;
	font-weight: 400
}

.content h1 {
	font-family: roboto, Arial, sans-serif, -apple-system;
	font-size: 2.6rem;
	line-height: 1.4;
	font-weight: 300;
	margin-bottom: 20px
}

.content h2 {
	font-size: 2.2rem;
	line-height: 1.4;
	font-weight: 300;
	letter-spacing: -.01em;
	font-family: roboto, Arial, sans-serif, -apple-system;
	margin-bottom: 20px
}

.content h3 {
	font-size: 1.6rem;
	line-height: 1.4;
	font-weight: 400;
	font-family: roboto, Arial, sans-serif, -apple-system;
	margin-bottom: 20px
}

.content h4 {
	font-size: 1.5rem;
	line-height: 1.4;
	font-weight: 500;
	font-family: roboto, Arial, sans-serif, -apple-system;
	margin-bottom: 20px
}

.content h5 {
	font-size: 1.4rem;
	line-height: 1.4;
	font-weight: 600;
	font-family: roboto, Arial, sans-serif, -apple-system;
	margin-bottom: 20px
}

.content h6 {
	font-size: 1.2rem;
	line-height: 1.4;
	font-weight: 700;
	font-family: roboto, Arial, sans-serif, -apple-system;
	margin-bottom: 20px
}

.content blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: .5em 10px;
	quotes: "“" "”" "‘" "’"
}

.content blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: .1em;
	margin-right: .25em;
	vertical-align: -.4em
}

.content blockquote p {
	display: inline
}

.content img {
	max-width: 100%;
	height: auto
}